@import url('style.css');
/* Rest of CSS Code */
.rainbow-text {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);   -webkit-background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation:rainbow 8s ease infinite
}
